*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: century;
}
header{
    background-image: url(https://thumbs.dreamstime.com/z/drapeau-national-bleu-rouge-blanc-de-la-slov%C3%A9nie-en-agitant-dans-le-vent-sur-un-ciel-bel-%C3%A9t%C3%A9-slov%C3%A8ne-173340356.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}
h2{
    text-align: center;
    color: aliceblue;
}
h2{
    background-color: rgb(107, 23, 30);
}
footer{
    padding: 40px;
    background-color: brown;
    margin-top: 10px;
}
footer h3{
    color: aliceblue;
    letter-spacing: 1px;
}
p{
    letter-spacing: 1px;
    margin-left: 15px;

}
body{
    background-color: rgb(226, 217, 217);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    
}